Repository CodeChain-io/codechain-sdk-js, pull requests merged in 2018-11, with the labels that each got.

#246 CodeChain allows the duplicated trasactions
  .travis.yml
  examples/mint-and-burn.js
  examples/mint-and-compose-and-decompose.js
  examples/mint-and-compose.js
  examples/mint-and-transfer.js
  examples/mint-asset.js
  integration_tests/Rpc.spec.ts
  integration_tests/Transaction.spec.ts
  integration_tests/helper.ts
  integration_tests/useRegistrar.spec.ts
  src/core/Asset.ts
  src/core/AssetScheme.ts
  src/core/Invoice.ts
  src/core/index.ts
  src/core/transaction/AssetComposeTransaction.ts
  src/core/transaction/AssetDecomposeTransaction.ts
  src/core/transaction/AssetMintTransaction.ts
  src/core/transaction/AssetTransferTransaction.ts
  src/core/transaction/__test__/AssetMintTransaction.spec.ts
  src/core/transaction/__test__/AssetTransferTransaction.spec.ts
  src/rpc/__test__/invalid-response.spec.ts
  src/rpc/chain.ts
Labels: breaking-change, rpc

#247 Update codechain-primitives version to 0.4.1
  API.md
  examples/create-account-with-secret.js
  examples/set-regular-key.js
  integration_tests/Rpc.spec.ts
  integration_tests/helper.ts
  integration_tests/useRegistrar.spec.ts
  package.json
  src/core/SignedParcel.ts
  src/core/__test__/Block.spec.ts
  src/core/__test__/Parcel.spec.ts
  src/core/__test__/SignedParcel.spec.ts
  src/core/action/__test__/SetShardOwners.spec.ts
  src/core/action/__test__/SetShardUsers.spec.ts
  src/core/transaction/AssetMintOutput.ts
  src/core/transaction/AssetTransferOutput.ts
  src/rpc/__test__/invalid-response.spec.ts
Labels: enhancement

#249 Use plus instead of increase
  integration_tests/Rpc.spec.ts
Labels: test

#257 Add optional blockNumber field to getAssetSchemeByHash and getAssetSc…
  .travis.yml
  src/rpc/chain.ts
Labels: rpc

#259 Use U64 instead of U256 for the amount of asset, balance and seq
  .travis.yml
  examples/get-balance.js
  integration_tests/Rpc.spec.ts
  integration_tests/Transaction.spec.ts
  integration_tests/helper.ts
  integration_tests/setRegularKey.spec.ts
  package.json
  src/core/Asset.ts
  src/core/AssetScheme.ts
  src/core/Parcel.ts
  src/core/U64.ts
  src/core/__test__/Asset.spec.ts
  src/core/__test__/AssetScheme.spec.ts
  src/core/__test__/Block.spec.ts
  src/core/__test__/Parcel.spec.ts
  src/core/__test__/SignedParcel.spec.ts
  src/core/__test__/U64.spec.ts
  src/core/action/Action.ts
  src/core/action/Payment.ts
  src/core/action/WrapCCC.ts
  src/core/classes.ts
  src/core/index.ts
  src/core/transaction/AssetComposeTransaction.ts
  src/core/transaction/AssetDecomposeTransaction.ts
  src/core/transaction/AssetMintOutput.ts
  src/core/transaction/AssetMintTransaction.ts
  src/core/transaction/AssetOutPoint.ts
  src/core/transaction/AssetTransferOutput.ts
  src/core/transaction/AssetTransferTransaction.ts
  src/core/transaction/__test__/AssetMintTransaction.spec.ts
  src/core/transaction/__test__/AssetTransferTransaction.spec.ts
  src/core/types.ts
  src/key/index.ts
  src/rpc/__test__/invalid-response.spec.ts
  src/rpc/account.ts
  src/rpc/chain.ts
Labels: core

#260 Number type gives an enough precision for seq
  .travis.yml
  integration_tests/Rpc.spec.ts
  integration_tests/helper.ts
  src/core/Parcel.ts
  src/core/SignedParcel.ts
  src/key/index.ts
  src/rpc/__test__/invalid-response.spec.ts
  src/rpc/account.ts
  src/rpc/chain.ts
Labels: core
