Repository CodeChain-io/codechain-sdk-js, pull requests merged in 2018-08, with the labels that each got.

#117 Fix a bug in ChangeShardOwners
  src/core/action/Action.ts
  src/core/action/ChangeShardOwners.ts
  src/core/action/__test__/ChangeShardOwners.spec.ts
  src/core/index.ts
Labels: bug

#113 Add an integration test which checks registrar validation
  integration_tests/useRegistrar.spec.ts
Labels: test

#121 Add whitelist/blacklist features
  integration_tests/Network.spec.ts
  src/rpc/network.ts
Labels: rpc

#127 Separate the invalid network ID error from the verification error
  integration_tests/Rpc.spec.ts
Labels: rpc, test
